<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library Issue Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid" style="background-color:#afb42b;padding-bottom:10%;">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">DASHBOARD</a>
            </div>
            <a style="float:right" class="navbar-brand" href="/users/logout">Logout</a>
            <a style="float:right" class="navbar-brand" href="/books">Books History</a>
          </div>
        </nav>
      </div>
      <div class="row text-center">
        <h3><b>Due Books List</b></h3>
      </div>
      <div class="row" style="margin-top:3%;margin-left:1%;margin-right:1%;margin-bottom:2%">
        <table id="due_issue_table" class="display" width="100%">
          <thead>
              <th>Book ID</th>
              <th>Book Name</th>
              <th>Authors</th>
              <th>Edition</th>
              <th>Publisher</th>
              <th>Category</th>
              <th>Issuer</th>
              <th>Issue Date</th>
              <th>Return Date</th>
              <th>Availability</th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
            <% for(var i=0;i<due_books.length;i++){ %>
            <tr>
              <td><%= due_books[i].book_id %></td>
              <td><%= due_books[i].book_name %></td>
              <td><%= due_books[i].authors %></td>
              <td><%= due_books[i].edition %></td>
              <td><%= due_books[i].publisher %></td>
              <td><%= due_books[i].category %></td>
              <td><%= due_books[i].issuer %></td>
              <td><%= due_books[i].issue_date %></td>
              <td><%= due_books[i].return_date %></td>
              <td><%= due_books[i].availability %></td>
              <td><button id="edit_btn" onclick="editme('<%=due_books[i].book_id%>','<%=due_books[i].book_name%>','<%=due_books[i].authors%>','<%=due_books[i].edition%>','<%=due_books[i].publisher%>','<%=due_books[i].category%>','<%=due_books[i].issuer%>','<%=due_books[i].issue_date%>','<%=due_books[i].return_date%>','<%=due_books[i].library_input_date%>','<%=due_books[i].availability%>')" class="btn btn-info" data-toggle="modal" data-target="#editIssue">Edit</button></td>
              <td><button id="return_btn" onclick="returnme('<%=due_books[i].book_id%>','<%=due_books[i].issuer%>','<%=due_books[i].issue_date%>')" class="btn btn-success" data-toggle="modal" data-target="#returnIssue">Return</button></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div class="row text-center" style="margin-bottom:5%">
        <button id="add_btn" onclick="addme()" class="btn btn-primary" data-toggle="modal" data-target="#newIssue">New Issue</button>
      </div>

      <div class="row text-center">
        <h3><b>Available Books</b></h3>
      </div>
      <div class="row" style="margin-top:3%;margin-left:1%;margin-right:1%">
        <table id="returned_issue_table" class="display" width="100%">
          <thead>
              <th>Book ID</th>
              <th>Book Name</th>
              <th>Authors</th>
              <th>Edition</th>
              <th>Publisher</th>
              <th>Category</th>
              <th>Issuer</th>
              <th>Issue Date</th>
              <th>Return Date</th>
              <th>Availability</th>
              <th></th>
              <th></th>
          </thead>
          <tbody>
            <% for(var i=0;i<available_books.length;i++){ %>
            <tr>
              <td><%= available_books[i].book_id %></td>
              <td><%= available_books[i].book_name %></td>
              <td><%= available_books[i].authors %></td>
              <td><%= available_books[i].edition %></td>
              <td><%= available_books[i].publisher %></td>
              <td><%= available_books[i].category %></td>
              <td><%= available_books[i].issuer %></td>
              <td><%= available_books[i].issue_date %></td>
              <td><%= available_books[i].return_date %></td>
              <td><%= available_books[i].availability %></td>
              <td><button id="edit_btn1" onclick="editme('<%=available_books[i].book_id%>','<%=available_books[i].book_name%>','<%=available_books[i].authors%>','<%=available_books[i].edition%>','<%=available_books[i].publisher%>','<%=available_books[i].category%>','<%=available_books[i].issuer%>','<%=available_books[i].issue_date%>','<%=available_books[i].return_date%>','<%=available_books[i].library_input_date%>','<%=available_books[i].availability%>')" class="btn btn-info" data-toggle="modal" data-target="#editIssue">Edit</button></td>
              <td><button id="delete_btn" onclick="delme('<%=available_books[i].book_id%>')" class="btn btn-danger" data-toggle="modal" data-target="#deleteIssue">Delete</button></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <!-- Add Issue Modal -->
      <div id="newIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>New Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/additem" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Book ID:</td>
                    <td><input type="text" name="book_id"></td>
                    <td style="float:right">Book Name:</td>
                    <td><input type="text" name="book_name"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Authors:</td>
                    <td><input type="text" name="authors"></td>
                    <td style="float:right">Edition:</td>
                    <td><input type="text" name="edition"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Publisher:</td>
                    <td><input type="text" name="publisher"></td>
                    <td style="float:right">Category:</td>
                    <td><label>
                          <select name="category">
                            <option selected>--Select--</option>
                            <option>ADBMS</option>
                            <option>ICS</option>
                            <option>DC</option>
                            <option>ACC</option>
                          </select>
                        </label>
                      </td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issuer:</td>
                    <td><input type="text" name="issuer"></td>
                    <td style="float:right">Library Entry Date:</td>
                    <td><input type="date" id="library_input_date" name="library_input_date"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issue Date:</td>
                    <td><input type="date" id="issue_date" name="issue_date"></td>
                    <td style="float:right">Return Date:</td>
                    <td><input type="date" id="return_date" name="return_date"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Availability:</td>
                    <td><label>
                          <select name="availability">
                            <option selected>true</option>
                            <option>false</option>
                          </select>
                        </label></td>
                    <td><input type="hidden" id="hidden_date" name="hidden_date"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Edit Issue Modal -->
      <div id="editIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Edit Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/editbook" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Book ID:</td>
                    <td><input type="text" name="book_id1" id="book_id1"></td>
                    <td style="float:right">Book Name:</td>
                    <td><input type="text" name="book_name1" id="book_name1"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Authors:</td>
                    <td><input type="text" name="authors1" id="authors1"></td>
                    <td style="float:right">Edition:</td>
                    <td><input type="text" name="edition1" id="edition1"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Publisher:</td>
                    <td><input type="text" name="publisher1" id="publisher1"></td>
                    <td style="float:right">Category:</td>
                    <td><label>
                          <select name="category1" id="category1">
                            <option selected>--Select--</option>
                            <option>ADBMS</option>
                            <option>ICS</option>
                            <option>DC</option>
                            <option>ACC</option>
                          </select>
                        </label>
                      </td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issuer:</td>
                    <td><input type="text" name="issuer1" id="issuer1"></td>
                    <td style="float:right">Library Entry Date:</td>
                    <td><input type="date" id="library_input_date1" name="library_input_date1"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Issue Date:</td>
                    <td><input type="date" id="issue_date1" name="issue_date1"></td>
                    <td style="float:right">Return Date:</td>
                    <td><input type="date" id="return_date1" name="return_date1"></td>
                  </tr>
                  <tr>
                    <td><font color="#ffffff">""</font></td>
                  </tr>
                  <tr>
                    <td style="float:right">Availability:</td>
                    <td><label>
                          <select name="availability1" id="availability1">
                            <option selected>--Select--</option>
                            <option>true</option>
                            <option>false</option>
                          </select>
                        </label></td>
                    <td><input type="hidden" id="hidden_date1" name="hidden_date1"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Return Issue Modal -->
      <div id="returnIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Return Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/returnbook" method="post">
                <table width="100%">
                  <tr>
                    <td style="float:right">Returned By:</td>
                    <td><input type="text" id="returnedby" name="returnedby"></td>
                    <td style="float:right">Return Date:</td>
                    <td><input type="date" id="returndate" name="returndate"></td>
                    <td><input type="hidden" id="returnissue_id" name="returnissue_id"></td>
                    <td><input type="hidden" id="issuedate" name="issuedate"></td>
                  </tr>
                </table>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Return</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Delete Issue Modal -->
      <div id="deleteIssue" class="modal fade">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"><b>Delete Issue</b></h4>
            </div>
            <div class="modal-body">
              <form action="/deletebook" method="post">
                <input type="hidden" id="delete_id" name="delete_id">
              Are you sure you want to delete this data?
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Yes</button>
            </form>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>

   </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#due_issue_table').DataTable();
    });
    $(document).ready(function(){
      $('#returned_issue_table').DataTable();
    });

    $('#newIssue').modal('show');
    $('#editIssue').modal('show');
    $('#returnIssue').modal('show');
    $('#deleteIssue').modal('show');

    function addme(){
      var d = new Date();
      var n = d.toISOString();
      var idate = n.substring(0,10);
      document.getElementById('issue_date').value = idate;
      document.getElementById('return_date').value = idate;
      document.getElementById('hidden_date').value = d;
    }

    function editme(bookid,bookname,authors,edition,publisher,category,issuer,issuedate,returndate,libraryinputdate,availability){
      console.log("issuer= "+issuer);
      document.getElementById('book_id1').value = bookid;
      document.getElementById('book_name1').value = bookname;
      document.getElementById('authors1').value = authors;
      document.getElementById('edition1').value = edition;
      document.getElementById('publisher1').value = publisher;
      document.getElementById('category1').value = category;
      document.getElementById('issuer1').value = issuer;
      var d = new Date(issuedate);
      var n = d.toISOString();
      var edate = n.substring(0,10);
      document.getElementById('issue_date1').value = edate;
      var k = new Date(returndate);
      var l = k.toISOString();
      var rdate = l.substring(0,10);
      document.getElementById('return_date1').value = rdate;
      var p = new Date(libraryinputdate);
      var q = p.toISOString();
      var lidate = q.substring(0,10);
      document.getElementById('library_input_date1').value = lidate;
      document.getElementById('availability1').value = availability;
    }

    function returnme(returnissueid,issuedby,issuedate){
      document.getElementById('returnissue_id').value = returnissueid;
      document.getElementById('returnedby').value = issuedby;
      document.getElementById('issuedate').value = issuedate;
      var d = new Date();
      var n = d.toISOString();
      var rdate = n.substring(0,10);
      document.getElementById('returndate').value = rdate;
    }

    function delme(deleteid){
      document.getElementById('delete_id').value = deleteid;
    }

  </script>
</html>
