<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library Issue Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="container-fluid" style="background-color:#afb42b;padding-bottom:10%;">
      <div class="row">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">DASHBOARD</a>
            </div>
            <a style="float:right" class="navbar-brand" href="/users/logout">Logout</a>
          </div>
        </nav>
      </div>
      <div class="row text-center">
        <h3><b>Book List</b></h3>
      </div>
      <div class="row" style="margin-top:3%;margin-left:1%;margin-right:1%;margin-bottom:2%">
        <table id="due_issue_table" class="display" width="100%">
          <thead>
              <th>Book ID</th>
              <th>Book Name</th>
              <th>Authors</th>
              <th>Edition</th>
              <th>Publisher</th>
              <th>Category</th>
              <th>Return Date</th>
              <th>Availability</th>
          </thead>
          <tbody>
            <% for(var i=0;i<booklist.length;i++){ %>
            <tr>
              <td><%= booklist[i].book_id %></td>
              <td><%= booklist[i].book_name %></td>
              <td><%= booklist[i].authors %></td>
              <td><%= booklist[i].edition %></td>
              <td><%= booklist[i].publisher %></td>
              <td><%= booklist[i].category %></td>
              <td><%= booklist[i].return_date %></td>
              <td><%= booklist[i].availability %></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

   </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#due_issue_table').DataTable();
    });
    $(document).ready(function(){
      $('#returned_issue_table').DataTable();
    });
  </script>
</html>
